<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .red_field {
            background: #ff2d16;
        }

        .green_field {
            background: #189c07;
        }

        .yellow_field {
            background: #fcff35;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <a href="/stat/" class="btn btn-outline-secondary col-lg-2 col-md-2 col-sm-12 mb-3" th:text="Main"></a>
    </div>

    <table class="table">
        <thead>
        <th scope="col">Country</th>
        <th scope="col">Total Cases</th>
        <th scope="col">Active cases</th>
        <th scope="col">New cases</th>
        <th scope="col">Deaths</th>
        <th scope="col">New Deaths</th>
        <th scope="col">Critical cases</th>
        <th scope="col">Total recovered</th>
        <th scope="col">Total cases / 1m population</th>
        </thead>
        <tr>

<!--            <th scope="col">Country</th>-->
            <td th:text="${data.country_name}"></td>
<!--            <th scope="col">Cases</th>-->
            <td th:text="${data.total_cases}"></td>
<!--            <th scope="col">Active cases</th>-->
            <td th:text="${data.active_cases}"></td>

            <!--            <th scope="col">New cases</th>-->
            <span th:if="${!data.new_cases.isBlank()}">
                  <td th:text="'+'+${data.new_cases}" class="yellow_field"></td>
            </span>
            <span th:unless="${!data.new_cases.isBlank()} ">
            <td></td>
            </span>

<!--            <th scope="col">Deaths</th>-->
            <td th:text="${data.total_deaths}"></td>
<!--            <th scope="col">New Deaths</th>-->
            <span th:if="${!data.new_deaths.isBlank()}">
                  <td th:text="'+'+${data.new_deaths}" class="red_field"></td>
            </span>

            <span th:unless="${!data.new_deaths.isBlank()}">
            <td></td>
            </span>

<!--            <th scope="col">Critical cases</th>-->
            <td th:text="${data.serious_critical}"></td>
<!--            <th scope="col">Total recovered</th>-->
                  <td th:text="${data.total_recovered}" ></td>

<!--            <th scope="col">Total cases / 1m population</th>-->
            <td th:text="${data.total_cases_per1m}"></td>
        </tr>
    </table>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</div>
</body>
</html>